* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
  color: black;
}

.button {
  width: 100%;
  background-color: darkslateblue;
  padding: 10px;
  margin: 10px;
  border: 2px black solid;
  border-radius: 15px;
  color: white;
  text-decoration: none;
}

.button:hover {
  color: darkslateblue;
  background-color: white;
}
